<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LogoRevealStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DF4F61F1C924D1500D6DA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DF4F6331C924D1500D6DA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DF4F63E1C924D1500D6DA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
